
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* open Header css*/
.header-container{
    box-shadow:0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%) ;
    width: auto;
}    
.flex-contaniner{
    display: flex;
    align-items: center;
    background-color: 0 ;
    width: 100%;
}
.flex-contaniner > div{
    position: relative;
    background-color: 0;
    margin: 0px;
    padding: 0 1.1rem;
    font-size: 30px;
    text-align: none ;
}
.ima1{
    position: relative;
    width: 110px;
    margin: 60px;
}
.btn-categories{
    width: 100px;
}
.btn-ud1 ,.btn-ud2 {
    width: 120px;
}
.button1 {
    position: relative;
    border: none;
    background-color: transparent;
    color: rgb(7, 6, 6);
    padding: 15px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}
.button2 {
     position: relative;
     border: none;
     background-color: transparent;
     color: rgb(7, 6, 6);
     padding: 0px 0px 0px 0px;
     text-align: center ;
     text-decoration: none;
     display: inline-flex;
     font-size: 12px;
     margin: 10px 0px 10px 0px;
     cursor: pointer;
     width: 100px;
}
.search-box {
    width: 600px;
    background-color: transparent;
    margin: 0px 100px 0px 0px;
    border: 300px;
}
.input-search {
    width: 100%;
    border: 1px solid rgb(7, 6, 6);
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
    padding: 15px;
}
.btn-ima{ 
    border: none;
}
.btn-login{
width: 120px;
}
.button3 {
    position: relative;
    border-color:rgb(10, 10, 9);
    background-color: white;
    color: rgb(7, 6, 6);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;

}
.btn-signup{
  width: 125px;
}
.button4 {
    position: relative;
    border-color:rgb(10, 10, 9);
    background-color: rgb(15, 13, 13);
    color: rgb(247, 240, 240);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 18px;
    margin: 0px;
    cursor: pointer;
}
/* close header css*/
/* open  main content*/
.Content {
    width: 100%;
    height: 500px;
    display: flex;
}
#ima1 {
    position: absolute;
}
.Content img {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}
.Content > div{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    font-size: 20px;
    margin: 150px 10px 50px 70px;
    padding: 15px 165px 15px 14px;
    border-color: black;
    border: 2px solid red;
    border-radius: 8px;
    box-shadow: 10px 10px rgb(36, 189, 194);
}
/*Close  main content*/
/* open flex content*/
.Content h1,p{
    padding: 10px;
}
.flex-content{
    width: 100%;
    height: 200px;
}
.flex-content h1{
    width: 50%;
    margin: 35px;
    color: rgb(14, 15, 14);
}
.flex-content h3{ 
    width: 50%;
    margin: 30px;
    color: rgb(14, 15, 14);
}
.content-list{
    width: 100%;
    margin: 15px;
}
li {
    display: inline;
}
li a{
    text-decoration: none;
    font-size: large;
    color: black;
    text-align-last: left;
    padding: 14px 13px;
    margin: 5px;
    font-style: bold;
}
 ul {
    background-color: transparent;  
} 
/*colse flex content*/ 
/* open flex box*/

.flex-box{
    display: flex;
    align-items: center;
    min-width: 80%;;
    height: auto;
    border: 1px solid black;
    margin: 20px;
    margin-bottom: 50px;
}
.flex-content1 {
    box-sizing: border-box;
    border-color: black;
}
.flex-content1 h2,p{
    width: 50%;
    padding-left: 20px;
    text-align:left;
    margin: 10px   
}
.btn-py{
    margin: 8px;
    margin-left: 30px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
}
.btn-py:hover {
   background-color: rgb(219, 212, 212);
}
.flex-box1 {
    display: flex;
    margin-left: 40px;
}
.py {
    width: 19%;
    margin-top: 20px;
}
.pyimage {
    border: 1px solid black;
}
.py h3 {
    font-size: large;
}
.py p{
    margin: 0px;
    padding : 5px 0px 0px 0px;
}
.rating {
    display: flex;
    font-size: 0.8rem;
}
.rating1 {
    display: flex;
    font-size: 0.8rem;
}
.rating p{
    width: 120px;
}
.rating img{
    position: absolute;
    margin-left: 24px;
    margin-top: 3px;
}
.rating1 p{
    font-size: large;
    width: 35px;
    margin-bottom: 10px;
}
/* close flex box*/

.image-box {
    width: 100%;
    height: auto;
    margin: 20px 20px;
    margin-bottom: 50px;
}
section {
    display: block;
}
.section1 {
    width: auto;
    height: auto;
    margin-left: 80px;
    margin-right: 10px;
}
.section1 >div h1{
    font-size: 30px; 
}
.section-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-box div{
    margin: 10px;
}
.section-box span{
    margin-top: 0px;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
}
a {
    cursor: pointer;
}

.choose1 {
    width: auto;
    height: auto;
    background-color: rgba(239, 247, 247, 0.979);
}
.section2 {
    padding: 20px 20px 20px 20px;
     display: block;
}
.section2 h1 {
     width: auto;
     margin-left: 60px;
     margin-top: 15px;
}
.section-box1 {
    display: flex;
    margin-left: 60px;
}
.section-box1 >div {
    width: 100%;
    float: left;
}
.span1 {
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.01rem;
    font-size: 1.2rem;
}
.span1 >div {
    margin-top: 20px;
    font-size: 15px;
}
.span1 >div >div {
    margin-top: 10px;
}
#explore {
    margin: 8px;
    margin-left: 60px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
}
#explore:hover{
    background-color: rgba(241, 228, 228, 0.808);
}
.choose2 {
      width: auto;
      height: auto;
}
.container3 {
    width: auto;
    height: auto;
    margin: 30px;
    margin-left: 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#imagebox2 {
    margin-right: 96px;
}
.contain1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction:column;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 30px;
}
h1{
    margin-bottom: 10px;
} 
#btn-con {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 16px;
}
footer {
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.836);
    padding: 40px;
    padding-bottom: 30px;
}
.footer-box {
    display: flex;
    color: white;
    margin-left: 20px;
}
.footer-box >div {
    width: 25%;
    margin-right: 50px;  
}
#footer-div {
    width: 100%;
    margin-right: 0px;
}
#btn-en {
    padding: 10px;
    float: right;
    cursor: pointer;
    color: white;
    background-color: black;
    border-color: white;
    font-size: 16px;
}
.footer-box >div >div {
    margin-top: 10px; 
}
.footer-box1 {
    width: auto;
    margin-top: 30px;
}



